<!DOCTYPE html>
<html>
<head> <title>Mi primer Template con Twig</title> </head>
<body>
 {% set var = {"valor": "ora coas"} %}


<p>Variable sencilla: {{variable}}</p>
<p>Accediendo un elemento de un arreglo {{arreglo[0]}}</p>
<p>Accediendo a la variable var {{ var.valor}}</p>


</body>
</html>

