{% extends "base.twig" %}

{% block title %}Agreando en el titulo{% endblock %}

{% block header %}
<div id="navbar_list">
  <ul>
    {% for key, value in navbar_list %}
      <li><a href="{{ value }}">{{ key }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}


{% block content %}
{% endblock %}

